@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
    --text: #05070b;
    --background: #f1f4f9;
    --primary: #294161;
    --secondary: #d4dfed;
    --accent: #4874ad;
    --error: #960020;
    --success: #158d65;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: var(--text);
}

body {
    background-color: var(--background);
}

h1 {
    text-align: center;
    font-size: 1.8rem;
    color: #fff;
    background-color: var(--accent);
    width: 100%;
    padding: 1rem;
}


/* Formulario */

.cuerpo-formulario {
    width: 800px;
    margin: 30px auto;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
}

.contenedor-formulario {
    background-color: #fff;
    padding: 1rem 1.8rem;
    width: 100%;
}

.contenedor-correo, .contenedor-asunto{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

form label {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

form input, form textarea {
    border: 1px solid var(--secondary);
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 10px;
}

/* input:focus-visible, textarea:focus-visible {
    border: 2px solid red;
}
 */

form input {
    height: 40px;
}

form textarea {
    width: 100%;
    resize: vertical;
    min-height: 150px;
    max-height: 250px;
    border-bottom-right-radius: 0;
}

/* Botones */

.contenedor-botones {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
}

button {
    padding: 10px;
    font-size: 1.1rem;
    border: none;
    color: #fff;
}

button:hover {
    cursor: pointer;
}

button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

button[type="submit"] {
    color: #fff;
    width: 70%;
    background-color: var(--accent);
}

button[type="reset"] {
    width: 30%;
    background-color: var(--primary);
}

i {
    color: #fff
}

/* Dinamico */

.hidden {
    display: hidden;
}

.flex {
    display: flex;
}

.msg-error {
    width: 100%;
    padding: 1rem;
    background-color: var(--error);
    color: #fff;
}

.msg-exito {
    width: 100%;
    padding: 1rem;
    background-color: var(--success);
    color: #fff;
}


